<%= form_for @staff, :html => {:class => 'form-horizontal' }  do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :id_no, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :id_no, :class => 'form-control' %>
  </div>
   </div>

  <div class="form-group">
    <%= f.label :name, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :name, :class => 'form-control' %>
	</div>
  </div>

  <div class="form-group">
    <%= f.label :kwsp_code, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :kwsp_code, :class => 'form-control' %>
	</div>
  </div>

    <div class="form-group">
    <%= f.label :tax_code, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :tax_code, :class => 'form-control' %>
	</div>
  </div>

   <div class="form-group">
    <%= f.label :access_id, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.number_field :access_id, :class => 'form-control' %>
	</div>
  </div>

  <div class="form-group">
    <%= f.label :title_id, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.number_field :title_id, :class => 'form-control' %>
	</div>
  </div>


  <div class="form-group">
    <%= f.label :file_id, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.number_field :file_id, :class => 'form-control' %>
	</div>
  </div>


    <div class="form-group">
    <%= f.label :user_id, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.number_field :user_id, :class => 'form-control' %>
	</div>
  </div>


   <div class="form-group">
    <%= f.label :date_of_birth, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :date_of_birth, :placeholder =>"select date of birth", :id =>'date_birth', :class => 'form-control' %>
	</div>
  </div>


    <div class="form-group">
    <%= f.label :state, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-5">
    <%= f.number_field :state, :class => 'form-control' %>
	</div>
  </div>


    <div class="form-group">
    <%= f.label :country_code, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :country_code, :class => 'form-control' %>
	</div>
  </div>


   <div class="form-group">
    <%= f.label :citizenship, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :citizenship, :class => 'form-control' %>
	</div>
  </div>


    <div class="form-group">
    <%= f.label :birth_cert, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :birth_cert, :class => 'form-control' %>
	</div>
  </div>


  <div class="form-group">
    <%= f.label :gravatar_email, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :gravatar_email, :class => 'form-control' %>
	</div>
  </div>


  <div class="form-group">
    <%= f.label :blood_type, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :blood_type, :class => 'form-control' %>
	</div>
  </div>

   <div class="form-group">
    <%= f.label :marital_status_type, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :marital_status_type, :class => 'form-control' %>
	</div>
  </div>


   <div class="form-group">
    <%= f.label :race, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.number_field :race, :class => 'form-control' %>
	</div>
  </div>

  <div class="form-group">
    <%= f.label :religion, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.number_field :religion, :class => 'form-control' %>
	</div>
  </div>


  <div class="form-group">
    <%= f.label :gender, :class => 'col-lg-2 control-label' %>
	<div class="col-lg-6">
    <%= f.text_field :gender, :class => 'form-control' %>
	</div>
  </div>


  <div class="form-actions">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => "btn btn-primary" %>
    </div>

<% end %>
