<h1>Listing staffs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Gravatar Icon</th>
      <th>Name</th>
        <th>IC No</th>
       <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Status</th>
      
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
	 <td><%= staff.gravatar_email %></td>
	  <td><%= staff.name %></td>
        <td><%= staff.id_no %></td>
        <td><%= staff.date_of_birth %></td>
         <td><%= staff.gender %></td>

<%= render :partial => 'action_menu', :locals => { :staff => staff }%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff', new_staff_path %>
