<p id="notice"><%= notice %></p>

<p>
  <strong>Id no:</strong>
  <%= @staff.id_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Kwsp code:</strong>
  <%= @staff.kwsp_code %>
</p>

<p>
  <strong>Tax code:</strong>
  <%= @staff.tax_code %>
</p>

<p>
  <strong>Access:</strong>
  <%= @staff.access_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @staff.title_id %>
</p>

<p>
  <strong>File:</strong>
  <%= @staff.file_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @staff.user_id %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @staff.date_of_birth %>
</p>

<p>
  <strong>State:</strong>
  <%= @staff.state %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @staff.country_code %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%= @staff.citizenship %>
</p>

<p>
  <strong>Birth cert:</strong>
  <%= @staff.birth_cert %>
</p>

<p>
  <strong>Gravatar email:</strong>
  <%= @staff.gravatar_email %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @staff.blood_type %>
</p>

<p>
  <strong>Marital status type:</strong>
  <%= @staff.marital_status_type %>
</p>

<p>
  <strong>Race:</strong>
  <%= @staff.race %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @staff.religion %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.gender %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
