<h1>Editing uploadedfile</h1>

<% form_for(@uploadedfile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @uploadedfile %> |
<%= link_to 'Back', uploadedfiles_path %>