<p>
  <b>Name:</b>
  <%=h @uploadedfile.name %>
</p>

<p>
  <b>Content type:</b>
  <%=h @uploadedfile.content_type %>
</p>

<p>
  <b>Data:</b>
  <%=h @uploadedfile.data %>
</p>


<%= link_to 'Edit', edit_uploadedfile_path(@uploadedfile) %> |
<%= link_to 'Back', uploadedfiles_path %>