<%= form_for @contact_medium_type, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @contact_medium_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_medium_type.errors.count, "error") %> prohibited this contact_medium_type from being saved:</h2>

      <ul>
      <% @contact_medium_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'col-lg-2 control-label' %>
     <div class="col-lg-6">
   	<%= f.text_field :description, :class => 'form-control'%>
     </div>
   </div>

  <div class="form-actions">
      <div class="col-lg-offset-2 col-lg-4">
        <%= f.submit "Create", :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), contact_medium_types_path, :class => 'btn btn-danger' %>
      </div>
  </div>

<BR/>
      
<% end %>
