<%= form_for @contact_medium_type, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @contact_medium_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_medium_type.errors.count, "error") %> prohibited this contact_medium_type from being saved:</h2>

      <ul>
      <% @contact_medium_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'col-lg-2 control-label' %><br>
	 <div class="col-lg-6">
    <%= f.text_field :description, :class => 'form-control'%>
</div>
  </div>

  <div class="form-action">
	<div class="col-lg-offset-2 col-lg-10">
    <%= f.submit nil, :class => "btn btn-primary" %>
	</div>
  </div>
<% end %>
