<h1>Listing contact people</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Position</th>
      <th> Status</th>
      
    </tr>
  </thead>

  <tbody>
    <% @contact_people.each do |contact_person| %>
      <tr>
        <td><%= contact_person.name %></td>
        <td><%= contact_person.company_id %></td>
        <td><%= contact_person.position %></td>
 <%= render :partial => 'action_menu', :locals => { :contact_person => contact_person }%> 

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact person', new_contact_person_path %>
