<h3><%= t 'cofile.edit' %></h3>

<% form_for(@cofile) do |f| %>
  	<div class="tform">
		<table>
		<%= f.error_messages %>
		<%=render :partial => 'cofile_number', :locals => {:f => f} %><!--25Feb2013-->
		<%=render :partial => 'form', :locals => {:f => f} %> 
		</table>
	</div>
  	<p><%= f.submit (t 'icms.update') %></p>
<% end %>

<%= link_to (t 'icms.show'), @cofile %> |
<%= link_to (t 'icms.back'), cofiles_path %>