<div class='formtable'>
<table cellspacing=0 cellpadding=0>	
	<!--22Feb2013-CASE 1:any file(s) imported?-->
	<% if @cofile.size != 0 #this line check if there's any file imported? %>
	
		<!--22Feb2013-CASE 1a:Some files imported & some not-->
		<% if @existingcofile.size != 0 #this line checks if there's any failed import-returning records of existing file. %>
			<% flash[:notice]= t('cofile.import_of')+@cofile.size.to_s+t('cofile.files')+t('cofile.successfull_and')+@existingcofile.size.to_s+t('cofile.files') +t('cofile.failed')%>
			<% flash.discard %>
		<!--22Feb2013-CASE 1b:All files are imported-->
		<% else %>
			<% flash[:notice]= @cofile.size.to_s+" "+t('cofile.new_product_was_successfully_imported')%>
			<% flash.discard %>
		<% end %>
		
	<!--22Feb2013-CASE 2:file(s) not imported at all-->	
	<% elsif @cofile.size == 0 #this line will return true if there's NO newly imported files at all-failed import! %>
		<% flash[:notice]= t('cofile.import_of_excel_file_was_failed_all_imported_product_already_exist') %>
		<% flash.discard %>
	<% end %>
</table>
</div>

<div class="tlist">
	<table>	
	<!--22Feb2013-Display IMPORTED FILES-->
		<% if @cofile.size != 0 %>
			<tr><td colspan=7 class="title"><%=t('cofile.newly_imported_files')%></td></tr>
			<tr>
				<th><%= t('cofile.cofileno') %></th>
				<th><%= t('cofile.company')%></th>
				<th><%= t('cofile.name') %></th>
				<th><%= t('cofile.location') %> </th>
				<th><%= t('cofile.division') %></th>
				<th><%= t('cofile.owner') %></th>
				<th><%= t('cofile.remark') %></th>
			</tr>
			<% @cofile.each do |cofile| %>
			<tr class="<%= (cofile.set_row_color) %>">
				<td><%= cofile.cofileno %></td>
				<td><%= cofile.company? ? Addbook.find(cofile.company.to_i).name : "-" %></td>
				<td><%= cofile.name %><!--compulsory & unique field--></td>
				<td><%= cofile.location? ? (Cofile::LOCATION.find_all{|disp, value| value == cofile.location.to_i}).map {|disp, value| disp} : "-" %></td>
				<td><%= cofile.division? ? (Cofile::DIVISION.find_all{|disp, value| value == cofile.division.to_i}).map {|disp, value| disp} : "-" %></td>
				<td><%= cofile.owner.nil? ? "-" : cofile.owner.name%></td>
				<td><%= cofile.remark %></td>
    		</tr>
			<% end %>
		<% end %>
	<!--22Feb2013-Display IMPORTED FILES-->

	<!--22Feb2013-Display FAILED IMPORT-->
		<% if @existingcofile.size != 0 %>
			<tr><td colspan=7 class="blank">&nbsp;</td></tr>
			<tr><td colspan=7 class="title"><%=t('cofile.import_failed_please_check')%></td></tr>
			<tr>
				<th><%= t('cofile.cofileno') %></th>
				<th><%= t('cofile.company')%></th>
				<th><%= t('cofile.name') %></th>
				<th><%= t('cofile.location') %> </th>
				<th><%= t('cofile.division') %></th>
				<th><%= t('cofile.owner') %></th>
				<th><%= t('cofile.remark') %></th>
			</tr>
			<% @existingcofile.each do |existingfile| %>
			<!--<tr>--><tr class="<%= (existingfile.set_row_color) %>">
				<td><%= existingfile.cofileno %></td>
				<td><%= existingfile.company? ? Addbook.find(existingfile.company.to_i).name : "-" %></td>
				<td><%= existingfile.name %><!--compulsory & unique field--></td>
				<td><%= existingfile.location? ? (Cofile::LOCATION.find_all{|disp, value| value == existingfile.location.to_i}).map {|disp, value| disp} : "-" %></td>
				<td><%= existingfile.division? ? (Cofile::DIVISION.find_all{|disp, value| value == existingfile.division.to_i}).map {|disp, value| disp} : "-" %></td>
				<td><%= existingfile.owner.nil? ? "-" : existingfile.owner.name%></td>
				<td><%= existingfile.remark %></td>
    		</tr>
			<% end %>
		<% end %>		
	<!--22Feb2013-Display FAILED IMPORT-->	
	</table>	
</div>
<br>
<p><b><%= link_to t('cofile.file_registry_listing'), cofiles_path %><b></p>


