<!-- Box -->
<div class="box">
<!-- Box Head -->
<div class="box-head">
<h2 class="left">Lists of Files</h2>
<div class="right">
<% form_tag cofiles_path, :method => 'get' do %>
	  		<%= text_field_tag :search, params[:search], :placeholder => "FileName" %>
	  		<%= submit_tag I18n.t('search'), :name => nil %>
			<% end %>
</div>
</div>
</div>
<div class="toolbar">
	<p><%= link_to image_tag("add.png", :border => 0, :title => 'New File') + "New", new_cofile_path %></p>
</div>

<div class="tlist">
<table width=100%>
<tr>
    <th><%= t 'cofile.cofileno' %></th>
	<th><%= t 'cofile.cofile_code' %></th><!--25Feb2013-->
	<th><%= t 'cofile.company' %></th>
    <th><%= t 'cofile.name' %></th>
    <th><%= t 'cofile.location' %></th>
    <th><%= t 'cofile.owner' %></th>
    <th><%= t 'cofile.onloan_to' %></th>
    <th><%= t 'cofile.onloandt' %></th>
	<th><%= t 'cofile.remark' %></th>
   <th colspan=3 class="ac"><%= t 'control' %></th>
</tr>

<% @cofiles.each do |cofile| %>
 <!--<tr>--><!--16Feb2013-set row color according to file owner--><tr class="<%= (cofile.set_row_color) %>">
    <td><%=h cofile.cofileno %></td>
	<td><%=h cofile.cofile_code %></td><!--25Feb2013-->
	<td><!--16Feb2013-add-in this part for company name display in index page--><!--22Feb2013-amended-->
		<%= cofile.company? ? Addbook.find(cofile.company.to_i).name : "-" %>
	</td>
    <td><%=h cofile.name %></td>
    <td><!--15Feb2013-display location using coded list--><!--22Feb2013-amended-->
		<%= cofile.location? ? (Cofile::LOCATION.find_all{|disp, value| value == cofile.location.to_i}).map {|disp, value| disp} : "-" %>
	</td>
    <td><%=h cofile.owner_details %></td>
    <td><%=h cofile.staffloan_id? ? cofile.borrower_details : "" %></td>
	<td><%=h cofile.onloan? ? cofile.onloandt : "" %></td>
	<td><%=h cofile.remark %></td>
    <td width=10px ><%= link_to image_tag("document.png", :border => 0), :action => 'show', :id => cofile %></td>
    <td width=10px><%= link_to image_tag("edit.png", :border => 0), :action => 'edit', :id => cofile %></td>
    <td width=10px><%= link_to image_tag("delete.png", :border => 0, :title => 'Delete'), cofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
</div>

<%= link_to (t 'cofile.create'), new_cofile_path %> | 
<!--17Feb2013-import data from excel file-->
<%= link_to t('cofile.import_data_from_excel'), {:controller => 'cofiles', :action => 'import_cofile_from_excel'} %>