
  <table width=100% >
			<tr>
				<td class="leftcol"><label for="name">Company Name</label></td>
				<td><%= f.text_area :name, :rows => 1, :cols => 59%></td>
			</tr>
			<tr>
				<td class="leftcol"><label for="name">Contact Person</label></td>
				<td>
					<%= f.text_area :contact_person, :rows => 1, :cols => 59 %>
					<i><font color=#AAA size=-2 style=italic> (Eg: Encik Halim, Cik Sharifah(PA))</font></i>
				</td>
			</tr>
			<!--15Feb2013 - HIDE this part & replace with below subform
			<tr>
				<td class="leftcol"><label for="phone">Phone No</label></td>
				<td>
					<%#= f.text_field :phone %>
					<i><font color=#AAA size=-2> (Eg: 03-89898989(DL), 03-8888888(FL)ext 273, 012-753555(HP), 013-12121212(HP-PA))</font></i>
				</td>
			</tr>

			<tr>
				<td class="leftcol"><label for="fax">Fax</label></td>
				<td>
					<%#= f.text_field :fax %><i><font color=#AAA size=-2> (Eg: 03-87139741, 03-819721794)</font></i>
				</td>
			</tr>
			15Feb2013 - HIDE this part & replace with below subform-->
			
			<!--15Feb2013-create subform for phone no-->
			<tr>
				<td class="leftcol"><label for="fax">Contact Number</label></td>
				<td>Phone : <%= @addbook.phone %> <br> Fax : <%= @addbook.fax%>
			
			
				<div>

					<!--<H2><%#= t 'staff.tqualification' %></H2>-->
					<p><strong>| Contact Type |  Number </strong></p>

					<% f.fields_for :phones do |builder| %>
						<%= render 'phone_fields', :f => builder %>
					<% end %>

					<p><%= link_to_add_fields image_tag("add.png", :border => 0, :title => 'Add More'), f, :phones %> - Add More </p>

					<p><font size=-2><%#= t 'evaluation.form.label_002' %></font></p>
				</div>

				
				</td>
			</tr>
			<!--15Feb2013-create subform for phone no-->
			<tr>
				<td class="leftcol"><label for="address">Address</label></td>
				<td>
					<!--7Feb2013-->
					<% unless @addbook.id.blank? %>
						<% rest, *last = @addbook.address.split("//")%>
					<% else %>
						<% rest = @address %>
						<% last = @postcode %>
					<% end %>
					<%= f.text_area :address, :rows => 4, :cols => 59, :value => rest %>
					<!--7Feb2013-->
				</td>
			</tr>
			<!--7Feb2013-->
			<tr>
				<td class="leftcol"><label for="mail">Postcode</label></td>
				<td>
					<%= f.text_field :postcode, :value => last %>
				</td>
			</tr>
			<!--7Feb2013-->
			<tr>
				<td class="leftcol"><label for="mail">E-Mail</label></td>
				<td><%= f.text_field :mail %></td>
			</tr>
	
			<tr>
				<td class="leftcol"><label for="web">Web</label></td>
				<td><%= f.text_field :web %></td>
			</tr>	
		</table>

	
<BR>