<div class="tform">
	<fieldset>
		<legend>Contact</legend>
			<table width=100%>
					<tr>
						<td class="leftcol"><label for="name"><b>Name:</b></label></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<%=h @addbook.name %></td>
					</tr>
					<!--15Feb2013-add-in contact person-->
					<tr>
						<td class="leftcol"><label for="name"><b>Contact Person:</b></label></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<%=h @addbook.contact_person %></td>
					</tr>
					<!--15feb2013-add-in contact person-->
					
					<!--15Feb2013 - HIDE this part & replace with below subform
					<tr>
						<td class="leftcol"><label for="phone"><b>Phone:</b></label></td>
						<td> <%#=h @addbook.phone %></td>
					</tr>


					<tr>
						<td class="leftcol"><label for="fax"><b>Phone (Fax):</b></label></td>
						<td> <%#=h @addbook.fax %></td>
					</tr>
					15Feb2013 - HIDE this part & replace with below subform-->
					
					<!--15Feb2013-view of subform of contact numbers & type-->
					<tr>
						<td class="leftcol"><label for="web"><b>Contact Number:</b></label></td>
						<td align="left"> 
							<!--
							<table width=50% cellspacing='0' cellpadding='0' border='0'%>
							<%# for phone_contact in @addbook.phones %>
								<tr>
									<td class="leftcol" width=20% ><label for="contacttype">Contact Type :</label></td>
									<td><%#=h (Phone::PHONETYPE.find_all{|disp, value| value == phone_contact.phone_type.to_s}).map {|disp, value| disp} %></td>
								</tr>

								<tr>
									<td class="leftcol"><label for="contactno">Number :</label></td>
									<td><%#=h phone_contact.phone_no %></td>
								</tr>
								<tr><td colspan=2><HR></td></tr>
							<%# end %>
							</table>-->	
							<table width=50%>
								<tr><td class="leftcol">Contact Type</td><td  class="leftcol">Number</td></tr>
								<!--<p><strong>| Contact Type |  Number </strong></p>-->
								<% for phone_contact in @addbook.phones %>
								<tr>
									<td>
										<%=h (Phone::PHONETYPE.find_all{|disp, value| value == phone_contact.phone_type.to_s}).map {|disp, value| disp} %> 
									</td>
									<td>
										<%=h phone_contact.phone_no %>
									</td>
								<% end %>
							</table>	
						</td>
					
					</tr>
					<!--15Feb2013-view of subform of contact numbers & type-->

					<tr>
						<td class="leftcol"><label for="address"><b>Address:</b></label></td>
						<td>&nbsp;&nbsp;&nbsp;
							<!--7Feb2013-->
							<% rest, *last = @addbook.address.split("//")%>
							<%=h rest%>
							<%#=h @addbook.address %>
							<!--7Feb2013-->
						</td>
					</tr>
					<!--15Feb2013-view of subform of contact numbers & type-->
					<!--7Feb2013-->
					<tr>
						<td class="leftcol"><label for="mail">Postcode</label></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<%=h last%><%#=h @addbook.address.split(" ").last %></td>
					</tr>
					<!--7Feb2013-->
					<tr>
					<tr>
						<td class="leftcol"><label for="mail"><b>Email:</b></label></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<%=h @addbook.mail %></td>
					</tr>

					<tr>
						<td class="leftcol"><label for="web"><b>Website:</b></label></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;<%=h @addbook.web %></td>
					</tr>
					
			</table>
	</fieldset>
</div>
<BR/>


<%= link_to 'Edit', edit_addbook_path(@addbook) %> |
<%= link_to 'Back', addbooks_path %>