<h1>Listing contact_media</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Company</th>
      <th>Medium type</th>
      <th>Medium</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_media.each do |contact_medium| %>
      <tr>
        <td><%= contact_medium.person_id %></td>
        <td><%= contact_medium.company_id %></td>
        <td><%= contact_medium.medium_type %></td>
        <td><%= contact_medium.medium %></td>
        <td><%= link_to 'Show', contact_medium %></td>
        <td><%= link_to 'Edit', edit_contact_medium_path(contact_medium) %></td>
        <td><%= link_to 'Destroy', contact_medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact medium', new_contact_medium_path %>
