%fieldset{:style => "border:0; "}
  .form-inline
    .form-group
      = f.label :medium_type, :class => 'sr-only'
      = f.text_field :medium_type, :class => 'form-control', :placeholder => "Select Type"
    .form-group
      = f.label :medium, :class => 'sr-only'
      = f.text_field :medium, :class => 'form-control', :placeholder => "Contact Info"
    .form-group
      = f.hidden_field :_destroy
      = link_to "remove", '#', class: "remove_fields"