<%= form_for(@contact_company) do |f| %>
  <% if @contact_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_company.errors.count, "error") %> prohibited this contact_company from being saved:</h2>

      <ul>
      <% @contact_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div><br>
  <div class="field">
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode %>
  </div><br>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
