<h1>Listing contact companies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>State</th>
      <th>Status</th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @contact_companies.each do |contact_company| %>
      <tr>
        <td><%= contact_company.name %></td>
        <td><%= contact_company.address %></td>
        <td><%= contact_company.postcode %></td>
        <td><%= contact_company.state %></td>
	<%= render :partial => 'action_menu', :locals => { :contact_company => contact_company }%>
	
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact company', new_contact_company_path %>
