<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact_company.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @contact_company.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact_company.state %>
</p>

<%= link_to 'Edit', edit_contact_company_path(@contact_company) %> |
<%= link_to 'Back', contact_companies_path %>
