<h1>Listing of Bills</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Pay to</th>
      <th>Document</th>
      <th>Category</th>
      <th>Company</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.project_id %></td>
        <td><%= bill.pay_to %></td>
        <td><%= bill.document_id %></td>
        <td><%= bill.category_id %></td>
        <td><%= bill.company_id %></td>
        <td><%= bill.amount %></td>
        <td><button type="button" class="btn btn-success btn-sm"><%= link_to 'Show', bill %></td>
        <td><button type="button" class="btn btn-primary btn-sm"><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><button type="button" class="btn btn-danger btn-sm"><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
