<% provide(:title, 'Document Details') %>
<%- model_class = Document -%>
<div class="page-header">
   <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">

  <dt><strong><%= model_class.human_attribute_name(:ref_no) %>:</strong></dt>
  <dd><%= @document.ref_no %></dd>



  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @document.title %></dd>



  <dt><strong><%= model_class.human_attribute_name(:project) %>:</strong></dt>
  <dd><%= @document.project_id %></dd>



  <dt><strong><%= model_class.human_attribute_name(:document_category) %>:</strong></dt>
 <dd> <%= @document.document_category_id %></dd>



  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @document.type %></dd>



  <dt><strong><%= model_class.human_attribute_name(:document_date) %>:</strong></dt>
  <dd><%= @document.document_date %></dd>



  <dt><strong><%= model_class.human_attribute_name(:recieved_from) %>:</strong></dt>
  <dd><%= @document.recieved_from %></dd>



  <dt><strong><%= model_class.human_attribute_name(:received_on) %>:</strong></dt>
  <dd><%= @document.received_on %></dd>



  <dt><strong><%= model_class.human_attribute_name(:filed_by) %>:</strong></dt>
  <dd><%= @document.filed_by %></dd>



  <dt><strong><%= model_class.human_attribute_name(:addressed_to) %>:</strong></dt>
  <dd><%= @document.addressed_to %></dd>



  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @document.description %></dd>



  <dt><strong><%= model_class.human_attribute_name(:binder) %>:</strong></dt>
  <dd><%= @document.binder_id %></dd>



  <dt><strong><%= model_class.human_attribute_name(:document_file_name) %>:</strong></dt>
  <dd><%= @document.document_file_name %></dd>



  <dt><strong><%= model_class.human_attribute_name(:document_content_type) %>:</strong></dt>
  <dd><%= @document.document_content_type %></dd>



  <dt><strong><%= model_class.human_attribute_name(:document_file_size) %>:</strong></dt>
  <dd><%= @document.document_file_size %></dd>



  <dt><strong><%= model_class.human_attribute_name(:document_updated_at) %>:</strong></dt>
  <dd><%= @document.document_updated_at %></dd>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
