<h1>Listing staff positions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Position Code</th>

      <th> Position Name</th>
      <th> Person Name </td>
      <th>Tasks Main</th>
     
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @staff_positions.each do |staff_position| %>
      <tr>
        <td><%= staff_position.code %></td>
       
        <td><%= staff_position.name %></td>
       <td> name</td>
       <td><%= staff_position.tasks_main %></td>
      
	<div class="btn-group">
        <td><button type="button" class="btn btn-success btn-sm"><%= link_to 'Show', staff_position %></td>

        <td><button type="button" class="btn btn-primary btn-sm"><%= link_to 'Edit', edit_staff_position_path(staff_position) %></td>

        <td><button type="button" class="btn btn-danger btn-sm"><%= link_to 'Destroy', staff_position, method: :delete, data: { confirm: 'Are you sure?' } %></td></div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff position', new_staff_position_path %>
