<h1>Listing staff positions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Position Code</th>

      <th> Position Name</th>
      <th> Person Name </td>
      <th>Tasks Main</th>
     
      <th>Status</th>
    
    </tr>
  </thead>

  <tbody>
    <% @staff_positions.each do |staff_position| %>
      <tr>
        <td><%= staff_position.code %></td>
       
        <td><%= staff_position.name %></td>
       <td> name</td>
       <td><%= staff_position.tasks_main %></td>
<%= render :partial => 'action_menu', :locals => { :staff_position => staff_position }%> 
      
	
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff position', new_staff_position_path %>
