!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true                     |
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = render 'layouts/shim'
    - if content_for? :for_head
      = yield :for_head

  %body
    .container
      = render 'layouts/header'
      / Push Wrapper
      #mp-pusher.mp-pusher
        / mp-menu
        - if signed_in?
          = render 'layouts/menu'
        / /mp-menu
        .scroller
          / this is for emulating position fixed of the nav
          .scroller-inner
            / Top Navigation
            .codrops-top.clearfix
              %a.codrops-icon.codrops-icon-prev{:href => "http://tympanus.net/Tutorials/CircularNavigation/"}
                %span Previous Demo
              %span.right
                %a.codrops-icon.codrops-icon-drop{:href => "http://tympanus.net/codrops/?p=16252"}
                  %span Back to the Codrops Article
            .content.clearfix
              = render partial: "shared/flash_messages", flash: flash
              = yield
              = yield :role_sidebar
              = yield :role_main
              = render 'layouts/footer'
              = debug(params) if Rails.env.development?
              %br
              %br
              %br
              %br

              
          / /scroller-inner
        / /scroller
      / /pusher
    / /container

    :javascript
      new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );